In [31]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as patches
import seaborn as sns
import pandas as pd
import ast
import plotly.express as px

In [23]:
# Function 1: Load the data
def load_data(file_path):
    columns = [
        "company_name", "company_website", "quarter", "Headcount_Count",
        "Headcount_Growth", "Headcount_Breakdown_of_employees",
        "Fundraising_Total_amount", "Fundraising_Date_of_last_round",
        "Financials_GMV", "Financials_Net_Sales", "Financials_CAC"
    ]

    df = pd.read_csv(file_path, usecols=columns)

    df_breakdown = df['Headcount_Breakdown_of_employees'].apply(ast.literal_eval).apply(pd.Series)

    final_df = pd.concat([df, df_breakdown], axis=1)
    final_df = final_df.drop(['Headcount_Breakdown_of_employees'], axis=1)

    final_df['year'] = final_df['quarter'].str.extract(r'(\d{4})').astype(int)
    
    
    final_df['quarter'] = final_df['quarter'].str.extract(r'Q(\d)').astype(int)

    return final_df

In [26]:
df = load_data('/home/paul/data-driven/hackathon-team7/dataset/portcos_historical_db.csv')
df.head()

df = df[df['company_name'] == 'Databricks']

In [29]:
df.head()
data = df.copy()
export = df.to_csv('/home/paul/data-driven/hackathon-team7/dataset/databricks.csv', index = None, header=True)

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [34]:
t = '{\n  "company_name": "Databricks",\n  "company_website": "https://www.databricks.com/",\n  "quarter": "Q1 2025",\n  "Headcount_Count": 3200,\n  "Headcount_Growth": 0.12,\n  "Headcount_Breakdown_of_employees": {\n    "Engineering": 0.30,\n    "Product": 0.25,\n    "Admin": 0.10,\n    "Sales": 0.25,\n    "Other": 0.10\n  },\n  "Fundraising_Total_amount": 3500,\n  "Fundraising_Date_of_last_round": "October 2023",\n  "Financials_GMV": 650000000,\n  "Financials_Net_Sales": 125000000,\n  "Financials_CAC": 5000\n}'

In [ ]:
import json
import pandas as pd

df = pd.read_csv('/home/paul/data-driven/hackathon-team7/dataset/portcos_historical_db.csv')

df_breakdown = df['Headcount_Breakdown_of_employees'].apply(ast.literal_eval).apply(pd.Series)

final_df = pd.concat([df, df_breakdown], axis=1)
final_df = final_df.drop(['Headcount_Breakdown_of_employees'], axis=1)

final_df['year'] = final_df['quarter'].str.extract(r'(\d{4})').astype(int)


final_df['quarter'] = final_df['quarter'].str.extract(r'Q(\d)').astype(int)

,company_name,company_website,quarter,Headcount_Count,Headcount_Growth,Fundraising_Total_amount,Fundraising_Date_of_last_round,Financials_GMV,Financials_Net_Sales,Financials_CAC,Headcount_Breakdown_of_employees.Engineering,Headcount_Breakdown_of_employees.Product,Headcount_Breakdown_of_employees.Admin,Headcount_Breakdown_of_employees.Sales,Headcount_Breakdown_of_employees.Other,tech,sales,admin,year
0,Chime,https://www.chime.com,1,151,0.00,5.58,22/06/2023,5117377.89,2443488.51,460.75,NaN,NaN,NaN,NaN,NaN,94,19,38,2020
1,Chime,https://www.chime.com,2,338,123.84,89.04,20/10/2020,1050809.71,2641627.04,169.40,NaN,NaN,NaN,NaN,NaN,133,156,49,2020
2,Chime,https://www.chime.com,3,178,-47.34,79.67,30/03/2024,7728563.82,3305811.24,302.28,NaN,NaN,NaN,NaN,NaN,75,78,25,2020
3,Chime,https://www.chime.com,4,397,123.03,17.29,14/07/2024,6273373.87,421408.46,415.44,NaN,NaN,NaN,NaN,NaN,150,205,42,2020
4,Chime,https://www.chime.com,1,174,-56.17,59.74,27/08/2022,2274441.58,2377855.19,73.65,NaN,NaN,NaN,NaN,NaN,19,107,48,2021

In [48]:

export = final_df.to_csv('/home/paul/data-driven/hackathon-team7/dataset/portcos_historical_db.csv', index = None, header=True)